<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta description="{{ description }}">
    <title>{{ title }}</title>
</head>
<body>
    {% include "partials/nav.njk" %}
    <main>{{ content | safe }}</main>
    <code>
        {{ description }}
    </code>
</body>
</html>